/* Definindo as variáveis */
:root {
    --accent120: #858585;
    --accent100: #fff;
    --accent80: #c2c2c2;
    --accent60: #ffffff;
    --accent40: #00ff2145;
    --accent20: #4d4d4d;
    --bg-light: #f5f5f5;
    --bg-dark: #202020;
    --text-light: #fff;
    --text-dark: #000;
    --swaltext: #fff;
    --swalbutton: rgb(255, 255, 255);
    --swalshadow: rgba(255, 255, 255, .5);
    --selected: rgba(255, 255, 255, .2);
    --active: rgba(255, 255, 255, .3);
    --inactive: rgba(255, 255, 255, .1);
}

/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilo geral do corpo */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-dark);  /* Fundo preto */
    color: var(--text-light);  /* Texto claro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    width: 100%;
    background-color: var(--accent20);  /* Cinza escuro */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    color: var(--accent100);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--accent100);
    font-size: 16px;
}

.nav-links a:hover {
    color: var(--accent120);  /* Cinza claro */
}

/* Seção de Equipe */
.team {
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
    text-align: center;
}

.team h2 {
    font-size: 28px;
    color: var(--accent100);  /* Branco */
    margin-bottom: 10px;
}

.team p {
    font-size: 18px;
    color: var(--accent80);  /* Cinza claro */
    margin-bottom: 30px;
}

/* Contêiner para os membros */
.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

/* Membros da equipe */
.member {
    background-color: var(--accent40);  /* Cinza escuro */
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.member:hover {
    transform: scale(1.05);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member-info h2 {
    font-size: 22px;
    color: var(--accent100);  /* Branco */
}

.member-info p {
    font-size: 16px;
    color: var(--accent60);  /* Cinza médio */
    text-align: center;
}

/* Rodapé */
footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: var(--accent40);  /* Cinza escuro */
    margin-top: auto;
    color: var(--accent80);  /* Cinza claro */
}

footer strong {
   color: #ff0000;
}
