/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar .logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #28a745;
}

/* Container da página */
.container {
    margin-top: 80px; /* Dá espaço para a navbar fixa */
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

/* Responsividade para dispositivos menores */
@media screen and (max-width: 768px) {
    .navbar .nav-links {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .navbar .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
